*.gcda
*.gcno
*.gcov
*.gperf.out
*.o
*.out
*.t
*.td
.cache
build
compile_commands.json
config.h
coverage
lib/mbedtls-*
lib/mbedtls.sha256
rirc
rirc.1
rirc.debug
rirc.debug.address
rirc.debug.thread
tags
